@import url("https://fonts.googleapis.com/css2?family=family=Amatic+SC&display=swap");

:root {
    --primary-color: #1B98E0;
    --secondary-color: #59c3c3;
    --text-dark: #333;
    --text-light: #ebebeb;
    --primary-font: Arial, Helvetica, sans-serif;
    --secondary-font: "Amatic SC";
}

* {
    font-family: var(--primary-font);
}

h1,
h2,
h3 {
    font-family: 'Caveat', cursive;
}

h1 {
    font-size: 3rem;
    /* 48px if 1rem = 16px */
    line-height: 45px;
    font-weight: bold;
    margin: 0;
}

h2 {
    color: var(--secondary-color);
}

header {
    padding: 20px;
    border-bottom: 1px solid #999;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 18px;
}

.footer-link {
    color: var(--text-dark);
    text-decoration: none;
    font-size: 0.7em;
}

footer a {
    font-size: 0.6em;
}

.page {
    padding: 1em;
}

.logo-title {
    display: flex;
    justify-content: center;
    align-items: end;
    margin-bottom: 65px;
}

.logo-title img {
    width: 70px;
    height: auto;
}

.search-bar {
    display: flex;
    width: 100%;
    /* max-width: 600px; */
    border: 1px solid #333;
    border-radius: 6px;
    overflow: hidden;
}

.search-input {
    flex: 1;
    padding: 0.75em;
    border: none;
    outline: none;
    font-size: 1em;
}

.search-button {
    background: #f9f9f9;
    border: none;
    border-left: 1px solid #333;
    padding: 0 1em;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-button img {
    width: 1em;
    height: 1em;
    opacity: 0.7;
}

input::placeholder {
    color: #999;
}

.search-button:hover img {
    opacity: 1;
}

.parent {
    border: 1px solid #333;
    border-radius: 6px;
    margin: 15px;
    padding: 15px;
}

.recipe-img-container {
    /*padding: 10px;*/
}

.recipe-img-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.recipe-content {
    /*padding: 10px;*/
    margin-left: 16px;
}

.tag {
    display: inline-block;
    border: 1px solid #333;
    padding: 6px 8px;
}

.icon-star {
    color: gold;
}

.icon-star-empty {
    color: lightgray;
}

.parent {
    display: flex;
    justify-content: space-around;
}

.social img {
    width: 4.2em;
    height: auto;
}

@media (max-width: 600px) {
    .parent {
        flex-direction: column;
    }
    .recipe-content {
        margin-left: 0;
    }
    .recipe-description {
        display: none;
    }
    footer {
        flex-direction: column-reverse;
    }
    .social img {
        width: 5.2em;
        height: auto;
    }
    .footer-link {
        color: var(--text-dark);
        text-decoration: none;
        font-size: 0.8em;
        margin-top: 8px;
    }
}

@media (min-width: 960px) {
    .page {
        max-width: 960px;
        margin: 0 auto;
    }
}
